.controls-container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.controls {
  display: flex;
}

.button {
  padding: 10px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  user-select: none;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
}

.button:not(:last-child) {
  margin-right: 15px;
}

.button:hover {
  cursor: pointer;
  transition-property: background-color, border-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.button:not(:last-child):hover {
  border-color: rgba(211, 211, 211, 0.87);
  background-color: rgba(211, 211, 211, 0.87);
}

.button:active {
  transform: translateY(4px);
}

.play-icon {
  width: 15px;
  height: 15px;
  display: block;
  background-image: url("./images/play-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.speed-button {
  position: relative;
  color: white;
  text-transform: lowercase;
  background-color: rgb(54, 54, 54)
}

.speed-list {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-110%);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  background-color: rgb(54, 54, 54);
  z-index: 5;
}

.speed-list>li {
  padding: 15px 20px;
  z-index: 5;
}

.speed-list>li:hover {
  background-color: rgb(102, 102, 102);
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.displayBlock {
  display: block;
}