.menu-container {
  margin-bottom: 50px;
}

.menu {
  display: flex;
}

.button {
  width: 50px;
  height: 50px;
  font-size: 1rem;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  filter: brightness(50%);
  transition: filter;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
}

.button:active {
  transform: translateY(4px);
}

.start-button {
  background-image: url("./images/play-icon.png");
  background-size: 100%;
}

.reset-button {
  background-image: url("./images/reset-icon.png");
  background-size: 100%;
}