.menu-container {
  margin-bottom: 50px;
}

.menu {
  display: flex;
}

.button {
  padding: 15px 25px;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.button:hover {
  cursor: pointer;
}